<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="/utils/v.css">
  <link rel="stylesheet" type="text/css" href="/utils/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/utils/all.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src="/utils/bootstrap.bundle.min.js"></script>
  <script src="/utils/jquery.slim.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> --}}
  {{!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <style>
    /* Remove default bullets */
    ul,
    #myUL {
      list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
      margin: 0;
      padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
      cursor: pointer;
      user-select: none;
      /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
      transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
      display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
      display: block;
    }
    .new {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    
    .like {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  </style>
</head>

<body>
  {{!-- Login --}}
  {{#if Login}}
  {{> login/signin }}
  {{/if}}
  {{#if Register}}
  {{> login/register }}
  {{/if}}
  {{#if Forget }}
  {{> login/forget}}
  {{/if}}
  {{!-- Products --}}
  {{#if Profile }}
  {{> login/profile }}
  {{/if}}

  {{#if Success}}
  {{> home/header }}
  <div class="container">
    {{!-- {{#if mnproduct }}
    {{> admin/mn_product }}
    {{/if}}
    {{#if mnaccount }}
    {{> admin/mn_account }}
    {{/if}}
    {{#if mncategory }}
    {{> admin/mn_category }}
    {{/if}} --}}
    <div class="row py-2">

      {{#if Upload}}
      {{> seller/formUpload }}
      {{else}}
      {{#if ProInfo}}
      <div class="card shadow">
        {{> home/product_details }}
      </div>
      {{else}}
      {{#if mnproduct }}
      {{> admin/mn_product }}
      {{else}}
      {{#if mnaccount }}
      {{> admin/mn_account }}
      {{else}}
      {{#if mncategory }}
      {{> admin/mn_category }}
      {{else}}
      <div class="col-md-3">
        <div class="card shadow">
          {{> home/side }}
        </div>
      </div>
      <div class="col-md-9">
        <div class="card h-100 shadow">
          {{> home/content }}
        </div>
      </div>
      {{/if}}
      {{/if}}
      {{/if}}
      {{/if}}
      {{/if}}
    </div>
  </div>
  {{> home/bottom }}
  {{/if}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function () {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
</script>
<script>
    //NGUYÊN: Hàm Thay đổi giá trong mục ra giá (khi nhấn nút + hoặc -)
   function changeprice(signal, currentPrice, step){
      var control = document.getElementById('displayOfferPrice');
      var current = control.value;
      var but = document.getElementById('decreasePrice');
      if((signal == 0) && (current > (parseInt(currentPrice)+parseInt(step)))){ //Trừ đi một bước giá
        control.value = current - step;
        console.log("-");
      }
      if(signal == 1){ //Cộng thêm một bước giá
        control.value = parseInt(current) + parseInt(step);
        console.log("+");
      }
    }
</script>
</body>

</html>