<div class="card-header text-white bg-primary">Products</div>
<div class="card-body"> 
    <!--Lấy top 5 sản phẩm sắp kết thúc-->
    {{#if top5}} 
        {{>productview/sapketthuc}}
    {{/if}}
    <!--Top sản phẩm có số lượt ra giá cao nhất-->
    {{#if topturn}}
        {{>productview/topturn}}
    {{/if}}
    <!--Top sản phẩm có giá cao nhất-->
    {{#if topprice}}
        {{>productview/topprice}}
    {{/if}}
    <!--Kết quả tìm kiếm search (nếu có)-->
    {{#if resultstring}}
        {{>productview/searchview}}
    {{/if}}
    {{#if sortby}}
        {{>productview/sortbar}}
    {{/if}}
    <div class="card-deck">
        {{#each ps}}
            <div class="col-md-4" style="margin-bottom: 10px">
                
                    <div class="card h-100" >
                        <div style="height: 40px;">
                            {{#if new}}
                            <div class="new">
                                <img src="https://theme.hstatic.net/1000230642/1000484971/14/new.png?v=2528"/>
                            </div>
                            {{/if}}
                            {{#if ktbidder }}
                            <form method="GET" action="/like/{{pro_ID}}/{{Session}}">
                            <div class="like">
                            <button type="submit" class="fa fa-thumbs-up"></button>
                            </div>
                            </form>
                            {{/if}}
                        </div>
                        <a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">
                        <img  class="img-fluid" src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg" alt="" title="{{pro_Name}}">
                        <div class="card-body">
                            <p class="card-text"><a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a></p>
                            <p class="card-text">Price: {{price}}</p>
                        </div>
                        </a>
                        
                    </div>
                
            </div>
        {{/each}}
    </div>
</div>

    {{#if navs}}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#if navs.prev}}
                    <li class="page-item">
                        <a class="page-link" href="{{ links }}{{ navs.prev }}&sortby={{sortby}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/if}}
                {{#each pages}}
                    {{#if active}}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="javascript:;">
                                {{value}} <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="{{ link }}{{value}}&sortby={{sortby}}">
                                {{value}}
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
                {{#if navs.next}}
                    <li class="page-item">
                        <a class="page-link" href="{{ links }}{{navs.next}}&sortby={{sortby}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{else}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    {{/if}}
    
</script>
</div>
<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}