<nav class="navbar navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">BAN HANG</a>
    <!-- Example single danger button -->
    
        {{#if Session }}
        
        {{!-- user --}}
        {{#if profile}}
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle my-2 my-sm-0 mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ profile.user_Name}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile">
                    <span class="fa fa-user"></span>
                    <span >Profile</span>
                </a>
                {{#if profile.seller}}
                <a class="dropdown-item" href="/upload">
                    <span class="fa fa-upload"></span>
                    <span>Upload</span>
                </a>
                {{/if}}
                {{#if profile.bidder}}
                <a class="dropdown-item" href="/profile/listlike">
                    <span class="fa fa-heart"></span>
                    <span>Watch list</span>
                </a>
                {{/if}}
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">
                    <span class="fa fa-cog"></span>
                    <span>Log out</span>
                </a>
            </div>
        </div>
        {{/if}}
        {{!-- <a href="/profile" class="btn btn-outline-success my-2 my-sm-0 mr-3">Profile</a>   
        <a href="/logout" class="btn btn-outline-success my-2 my-sm-0 mr-3" id="signout" >Sign out</a> --}}
        {{/if}}
        {{#unless Session }}
        <a href="/login" class="btn btn-outline-success my-2 my-sm-0 mr-3">Sign in</a>
        {{/unless}}
        {{#if profile}}
            {{#if profile.bidder}}
            <form method="post" action="/upgrade/id={{ Session }}">
                <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Upgrade</button> 
            </form>
            {{/if}}
        {{/if}}


    <form class="form-inline" action="/search" method="GET">
        <input class="form-control mr-sm-2" name="inputSearch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>