<!-- NGUYÊN:: Hiển thị thông tin chi tiết khi clip vào mỗi sản phẩm -->
<div class="container">
    <div class="row" style="margin: 20px">
        <div class="col-md-5">
            <div class="row" style="margin-bottom: 10px;">
                <img class="img-fluid rounded mx-auto d-block"
                    src="/IMG/{{ProInfo.CatID}}/{{ProInfo.sub_catID}}/{{ProInfo.pro_ID}}/main.jpg" alt="">
            </div>
            <div class="row">
                <img class="img-fluid rounded mx-auto d-block" width="100"
                    src="/IMG/{{ProInfo.CatID}}/{{ProInfo.sub_catID}}/{{ProInfo.pro_ID}}/sub1.jpg" alt="">
                <img class="img-fluid rounded mx-auto d-block" width="100"
                    src="/IMG/{{ProInfo.CatID}}/{{ProInfo.sub_catID}}/{{ProInfo.pro_ID}}/sub2.jpg" alt="">
                <img class="img-fluid rounded mx-auto d-block" width="100"
                    src="/IMG/{{ProInfo.CatID}}/{{ProInfo.sub_catID}}/{{ProInfo.pro_ID}}/sub3.jpg" alt="">
            </div>
        </div>
        <div class="col container">
            <h1 class="display-4">{{ProInfo.pro_Name}} 
                {{!-- <button type="button" class="btn btn-danger">Delete</button> --}}
            </h1>
            <dl class="row">
                <dt class="col-sm-4 h4"><strong>Giá hiện tại</strong></dt>
                <dd class="col-sm-8 lead">
                    <p>{{ProInfo.price}} ₫</p>
                    Giá đề nghị: {{Proposal}} ₫
                </dd>

                <dt class="col-sm-4 h4"><strong>Bước giá</strong></dt>
                <dd class="col-sm-8 lead">{{ProInfo.step}} ₫</dd>
                {{#if ProInfo.buy_now}}
                <dt class="col-sm-4 h4"><strong>Giá mua ngay</strong></dt>
                <dd class="col-sm-8 lead">{{ProInfo.buy_now}}₫</dd>
                {{/if}}
                <dt class="col-sm-4 h4"><strong>Kết thúc vào</strong></dt>
                <dd class="col-sm-8 lead">{{ProInfo.time}}</dd>
            </dl>
        </div>
    </div>

    <hr />

    <dl class="row" style="margin: 10px">
        <dt class="col-sm-12">
            {{!-- <button type="button" class="btn btn-dark">Ra giá</button>   --}}
            {{#if Session}}
            <form method="GET" action="/like/{{ProInfo.pro_ID}}/{{Session}}">
            <button type="submit" class="btn btn-dark">Lưu</button>
            </form>
            {{/if}}
        </dt>
        <dl class="row" style="margin: 10px">
            <dt class="col-sm-12">
                <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#OfferWindow" aria-expanded="false" aria-controls="OfferWindow">Ra giá</button>  
                <div class="collapse col-sm-8" id="OfferWindow">
                    <form class="card card-body" action="/offer/id={{ProInfo.pro_ID}}" style="margin: 10px;" method="post">
                        <div class="form-group row">
                            <label for="highestCurrentPrice" class="col-sm-3 col-form-label">Giá hiện tại</label>
                            <div id="highestCurrentPrice" class="col-sm-5">{{ProInfo.price}} VNĐ</div>
                        </div> 
                        <div class="form-group row">
                            <label for="stepPrice" class="col-sm-3 col-form-label">Bước giá</label>
                            <div id="stepPrice" class="col-sm-5">{{ProInfo.step}} VNĐ</div>
                        </div>
                        <div class="form-group row">
                            <label for="offerPrice" class="col-sm-3 col-form-label">Giá của bạn:</label>
                            <input id="offerPrice" name="price"> Lưu ý: phải là bội của bước giá!!
                            {{!-- <div id="offerPrice" class="input-group col-sm-5">
                                <input type="number" class="form-control" aria-describedby="button-addon4" id="displayOfferPrice" value="{{Proposal}}">
                                <div class="input-group-append" id="button-addon4">
                                    <button class="btn btn-outline-secondary" type="button" onclick="changeprice(0,{{ProInfo.price}},{{ProInfo.step}})" id="decreasePrice">-</button>
                                    <button class="btn btn-outline-secondary" type="button" onclick="changeprice(1,{{ProInfo.price}},{{ProInfo.step}})">+</button>
                                </div>
                            </div> --}}
                        </div>
                        <button type="submit" class="btn btn-primary">Ra giá</button>
                    </form>
                </div>
            </dt>

        <dt class="col-sm-3 text-truncate h5">Sản phẩm được đăng bởi:</dt>
        <dd class="col-sm-9 lead">{{Seller.user_Name}}</dd>


        <dt class="col-sm-3 text-truncate h5">Đăng lúc:</dt>
        <dd class="col-sm-9 lead">{{ProInfo.post_date}}</dd>


        <dt class="col-sm-3 text-truncate h5">Lịch sử đấu giá</dt>
        <dd class="col-sm-9">
            <table class="table table-bordered">
                <thead class="thead-light text-center">
                    <tr>
                        <th scope="col">Thời điểm</th>
                        <th scope="col">Người mua</th>
                        <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ListBidder}}
                    <form method="GET" action="/refuse/ip={{use_proID}}/ib={{use_userID}}">
                    <tr>
                        <td>{{ datetime }}</td>
                        <td>{{ user_Name }}<button type="submit" class="btn btn-danger btn-sm float-right"> X</button>
                        </td>
                        <td class="text-right">{{ price }}₫</td>
                    </tr>
                    </form>
                    {{/each}}
                </tbody>
            </table>
        </dd>
    </dl>

    <hr />

    <div class="row justify-content-md-center" style="margin: 10px">
        <h5 class="col-sm-12 h5">Mô tả sản phẩm</h5>
        <p class="col-sm-12">{{ProInfo.info}}</p>
        <button type="button" class="btn btn-dark">Bổ sung</button>
    </div>

    <hr />

    <div class="row justify-content-around" style="margin: 10px">
        <div class="row justify-content-around" style="margin: 10px">
            {{#each ps}}
            <div class="col-sm-2 card">
                <img src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{pro_Name}}</h5>
                    <p class="card-text">Price: {{price}}</p>
                    <a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}" class="btn btn-dark">Xem</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</div>
