<div class="card-header text-white bg-primary">Category</div>
<div class="list-group">
  <div id="myUL">
    {{#each cats}}
      <div><div class="caret list-group-item list-group-item-action {{#if isActive}}active {{/if}}">{{ CatName }}</div>
        <div class="nested">
          {{#each sub_cats}}
              <div>
                <a href="/cat/{{use_CatID}}/{{sub_CatID}}/products/page=1&sortby=alpha-asc" class="list-group-item list-group-item-action">
                  {{ sub_CatName}}
                </a>
              </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
  {{!-- {{#each cats }}
    <a data-toggle="collapse" href="#collapse_{{CatID}}" aria-controls="collapse_{{CatID}}" class="list-group-item list-group-item-action {{#if isActive}}active {{/if}}collapsed">
        {{ CatName }}
    </a>
    <div class="collapsed" id="collapse_{{CatID}}">
      {{#each sub_cats}}
        <a href="/cat/{{use_CatID}}/{{sub_CatID}}/products/page=1" class="list-group-item list-group-item-action">
            {{ sub_CatName}}
        </a>
      {{/each}}
    </div>
  {{/each}} --}}
</div>  