<div>
    <h4>Sản phẩm sắp kết thúc</h4>
    <div class="card-deck">
        {{#each top5}}
        <div class="col" style="margin-bottom: 10px; max-width:22% !important; margin-left: -5px; margin-right: -15px;">
            <a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">
                <div class="card h-100" >
                    <img  class="img-fluid" src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg" alt="" title="{{pro_Name}}">
                    <div class="card-body">
                        <p class="card-text">{{pro_Name}}<p>
                        <p class="card-text">Price: {{price}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

    