<div class="col-md-12 col-sm-12 col-xs-12 m-b-30">
    <h4 style="text-align: center">{{ resultstring }}</h4>
</div>
{{>productview/sortbar}}
<div class="card-deck">
    {{#each searchresults}}
        <div class="col-md-4" style="margin-bottom: 10px">
            <a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">
                <div class="card h-100" >
                    <div style="height: 40px;">
                        {{#if new}}
                        <div class="new">
                            <img src="https://theme.hstatic.net/1000230642/1000484971/14/new.png?v=2528"/>
                        </div>
                        {{/if}}
                        <div class="like">
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>
                    </div>
                    <img  class="img-fluid" src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg" alt="" title="{{pro_Name}}">
                    <div class="card-body">
                        <p class="card-text" style="text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden;"><a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a></p>
                        <p class="card-text">Price: {{price}}</p>
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
</div>