<div style="border-bottom: 1px solid #e1e1e1; margin-bottom: 15px;">
        <div class="col-sm-6" style="float: left;">
            <h4>{{catName}}</h4>
        </div>
        <div class="col-xs-12 col-sm-6 text-xs-left text-sm-right" style="float: left;">
            <div id="sort-by" style="float: right;">
                <label style="float: left;">Sắp xếp: </label>
                <div style="float: left;">
                    <select name="sortBy" id="sortBy">
                        
                        <option value="alpha-asc">A → Z</option>
                        <option value="alpha-desc">Z → A</option>
                        <option value="price-asc">Giá tăng dần</option>
                        <option value="price-desc">Giá giảm dần</option>
                        <option value="created-desc">Hàng mới nhất</option>
                        <option value="created-asc">Hàng cũ nhất</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    
    <script>
        {{#if alpha_asc}}
        $('#sortBy').val('alpha-asc');
        {{/if}}
        {{#if alpha_desc}}
        $('#sortBy').val('alpha-desc');
        {{/if}}
        {{#if price_asc}}
        $('#sortBy').val('price-asc');
        {{/if}}
        {{#if price_desc}}
        $('#sortBy').val('price-desc');
        {{/if}}
        {{#if created_desc}}
        $('#sortBy').val('created-desc');
        {{/if}}
        {{#if created_asc}}
        $('#sortBy').val('created-asc');
        {{/if}}
         
        $('#sortBy').bind('change', function() {		
            var url      = window.location.href;
            url = replaceUrlParam(url, 'sortby', $(this).val());		
            window.location.href = url;		 
        });
	
        function replaceUrlParam(url, paramName, paramValue) {
            var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
                newUrl = url.replace(pattern,'$1' + paramValue + '$2');
            
            return newUrl;
        }
    </script>