<form class="form" action="/profile/password" method="post" id="registrationForm">
    <div class="form-group">
            <label for="oldpassword">
                <h4 style="color: white;">Old password:
                {{#unless oldpassword}}
            <h4 style="color: red;">Your old password is not correct! </h4>
            {{/unless}}
             </h4>
            </label>
            <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder=""
                title="enter your email." required="required">
    </div>
    <div class="form-group">
            <label for="newpassword">
                <h4 style="color: white;">New password</h4>
            </label>
            <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder=""
                title="enter a location" required="required">
    </div>
    <div class="form-group">
            <label for="rppassword">
                <h4 style="color: white;">Repeat new password: {{#unless rppassword}}
            <h4 style="color: red;">Don't matching!!</h4> 
            {{/unless}}
            </h4> 
            </label>
            <input type="password" class="form-control" name="rppassword" id="rppassword" placeholder=""
                title="enter a location" required="required" onfocusout="check()">
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <br>
            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                Save</button>
            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                Reset</button>
        </div>
    </div>
</form>