<form class="form" action="##" method="post" id="registrationForm">
    <div class="form-group">
        <label for="last_name">
            <h4>Name</h4>
        </label>
        <input type="text" class="form-control" name="name" id="name" placeholder="{{inf.user_Name}}"
            value="{{inf.user_Name}}" disabled>
    </div>

    <div class="form-group">
        <label for="email">
            <h4>Email</h4>
        </label>
        <input type="email" class="form-control" name="email" id="email" value="{{ inf.user_Email }}" disabled>
    </div>
    <div class="form-group">
        <label for="location">
            <h4>Location</h4>
        </label>
        <input type="email" class="form-control" id="location" value="{{ inf.user_Address }}" disabled>
    </div>
    <div class="form-group">
        <label for="birthday">
            <h4>Birthday</h4>
        </label>
        <input type="text" class="form-control" id="birthday" value="{{ inf.user_Birthday }}" disabled>
    </div>
</form>

<hr>

</div>