<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../../../utils/list_like.css" rel="stylesheet" type="text/css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                Like list </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{#each ll}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#" disabled>
                                       </a>
                                    <div class="mic-info">
                                        <a href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a> on {{post_date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>