<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../../../../utils/list_like.css" rel="stylesheet" type="text/css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container" style="margin-top: 20px;">
    {{#if doing}}
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Doing</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{#each doing}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg"
                                    class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#" disabled>
                                    </a>
                                    <div class="mic-info">
                                        Product: <a
                                            href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Price: {{price}} , {{datetime}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if done }}
    <div class="row">
        <div class="panel panel-default widget" style="max-width: 890px;">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Done</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{#each done}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg"
                                    class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#" disabled>
                                    </a>
                                    <div class="mic-info">
                                        Product: <a
                                            href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{#if form }}
                                    You haven't rate {{#if bidder}}seller{{/if}}{{#unless bidder}}bidder{{/unless}}. Do
                                    you want ?
                                    <form class="form"
                                        action="/profile/{{use_proID}}/{{use_sellerID}}/{{use_bidderID}}/{{flag}}"
                                        method="POST">
                                        Comment: <input type="text" name="comment" style="min-width: 410px;">
                                        <input type="radio" name="like" style="margin-left: 10px;" value="like" checked>
                                        Like
                                        <input type="radio" name="like" style="margin-left: 10px;" value="dislike">
                                        Dislike
                                        <button type="submit" onclick="sub();" style="margin-left: 20px;"> Submit
                                    </form>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/if}}
</div>