<form class="form" action="/profile/update" method="post" id="registrationForm">
    <div class="form-group">

        <div class="col-xs-6">
            <label for="name">
                <h4>Name</h4>
            </label>
            <input type="text" class="form-control" name="name" id="name" placeholder="{{inf.user_Name}}"
                title="enter your last name if any.">
        </div>
    </div>

    <div class="form-group">

        <div class="col-xs-6">
            <label for="email">
                <h4>Email</h4>
            </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="{{ inf.user_Email }}"
                title="enter your email.">
        </div>
    </div>
    <div class="form-group">

        <div class="col-xs-6">
            <label for="birthday">
                <h4>Birthday</h4>
            </label>
            <input type="text" class="form-control" id="birthday" name="birthday" placeholder="{{ inf.user_Birthday }}"
                title="enter a location">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <br>
            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                Save</button>
            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                Reset</button>
        </div>
    </div>
</form>