<div class="jumbotron mt-md-2 mt-md-3">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">We sent a mail to you</p>
  <hr class="my-4">
  <p>Checking mail and create new password</p>
  <form method="POST" action="/forget">
  <div class="form-row">
    <div class="col-5">
      <input type="text" name="pw" class="form-control" placeholder="User name" required>
    </div>
    <div class="col-5">
      <input type="password" name="confirm" class="form-control" placeholder="New password" required>
    </div>
    <div class="col">
      <input type="text" name="code" class="form-control" placeholder="Code" required>
    </div>
  </div>
  <button class="btn btn-outline-success my-2 mt-md-3" type="submit">Log in</button>
</form>
</div>