<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1 style>{{inf.user_Account_Name}}</h1>
        </div>
        <div class="col-sm-2"><a href="/" class="pull-right" style="margin-top: 20px;"><img title="profile image"
                    class="img-circle img-responsive"
                    src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                    alt="avatar">
            </div>
            </hr><br>
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"> <a href="/profile" style="color: #000000">Info</a></div>

                <div class="panel-body"><a href="/profile/update" style="color: #000000">Update</a></div>

                <div class="panel-body"><a href="/profile/password" style="color: #000000">Password</a></div>
            </div>
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                        class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                        class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
           
                {{#if getInfo }}
                {{> login/partProfile/info }}
                {{/if}}
                {{#if updateInfo }}
                {{> login/partProfile/updateInfo }}
                {{/if}}
                {{#if editPassword }}
                {{> login/partProfile/editPassword }}
                {{/if}}
                {{#if ll}}
                {{> login/partProfile/like_list }}
                {{/if}}
                {{#if rate}}
                {{> login/partProfile/rate }}
                {{/if}}
                {{#if pro}}
                {{> login/partProfile/offer_doing }}
                {{/if}}
            
        </div>
    </div>
</div>