
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	
	<form id="subscribeForm" class="form-signin">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" id="name" class="form-control" placeholder="Full name" type="text" required>
    </div> <!-- form-group// -->
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="username" id="username" class="form-control" placeholder="Username" type="text" required>
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" id="email" class="form-control" placeholder="Email address" type="email"required>
		<p class="text-center" style="color: red;">{{Erremail}}</p>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		    <input name="address" id="address" class="form-control" placeholder="Address" type="text"required>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" id="password" class="form-control" placeholder="Create password" type="password" required>
    </div> <!-- form-group// -->   
	
	<div class="form-group">
          <div class="g-recaptcha" data-sitekey="6LdpvDEUAAAAAMy8x0y8PS99j4BavfO2oBdVTQGZ"></div>
    </div>                               
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                              
</form>
</article>
</div> <!-- card.// -->


</div> 


<!--container end.//-->
 {{!-- <script>
  document.getElementById('subscribeForm').addEventListener('submit', e => {
    e.preventDefault();
    console.log("aaa");
    const name = document.querySelector('#name').value;
    const email = document.querySelector('#email').value;
    const captcha = document.querySelector('#g-recaptcha-response').value;
    return fetch('/register', {
      method: 'POST',
      headers: { 'Content-type': 'application/json' },
      body: JSON.stringify({ name, email, captcha })
    })
      .then(res => res.json())
      .then(data => {
        console.log(data);
        alert(data.msg);
        if (data.success) return location.reload();
      });
  });
</script> --}}
 {{!-- --}}
{{!-- <div class="container">
  <h1>Subscribe</h1>
  <form id="subscribeForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" />
    </div>
    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LdpvDEUAAAAAMy8x0y8PS99j4BavfO2oBdVTQGZ"></div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
</div> --}} 

<script>
  document.getElementById('subscribeForm').addEventListener('submit', e => {
    e.preventDefault();

    const name = document.querySelector('#name').value;
    const username = document.querySelector('#username').value;
    const email = document.querySelector('#email').value;
    const address = document.querySelector('#address').value;
    const password = document.querySelector('#password').value;
    const captcha = document.querySelector('#g-recaptcha-response').value;

     fetch('/register', {
      method: 'POST',
      headers: { 'Content-type': 'application/json' },
      body: JSON.stringify({ name: name, username: username, email: email, address: address, password: password, captcha: captcha })
    })
      .then(res => res.json())
      .then(data => {
        console.log(data);
        alert(data.msg);
      });
  });
</script>
