
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>

          <form class="form-signin" action="/login" method="POST">
            <div class="form-label-group">
              <input id="username" class="form-control" placeholder="Username" name="username" required autofocus>
              <label for="username">Username</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
              <label for="password">Password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <div class="custom-class-for-recaptcha" data-sitekey="your-site-key"></div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

          </form>
          <p class="text-center mt-3">Have not an account? <a href="/register">Register</a> </p>
          {{#if Errpassword }}
          <p style="color: red;">Err</p>
          <p class="text-center mt-3">Forget password? <a href="/forget">Go to get password!!</a> </p>

          {{/if}}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>