<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .trash {
        color: rgb(209, 91, 71);
    }

    .flag {
        color: rgb(248, 148, 6);
    }

    .panel-body {
        padding: 0px;
    }

    .panel-footer .pagination {
        margin: 0;
    }

    .panel .glyphicon,
    .list-group-item .glyphicon {
        margin-right: 5px;
    }

    .panel-body .radio,
    .checkbox {
        display: inline-block;
        margin: 0px;
    }

    .panel-body input[type=checkbox]:checked+label {
        text-decoration: line-through;
        color: rgb(128, 144, 160);
    }

    .list-group-item:hover,
    a.list-group-item:focus {
        text-decoration: none;
        background-color: rgb(245, 245, 245);
    }

    .list-group {
        margin-bottom: 0px;
    }
</style>
{{!-- ---------------------------------------------------------- --}}
<div class="container" style="min-width: 900px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> Manager Account
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {{#each admin}} 
                        <li class="list-group-item">
                            <div class="row">
                                    <div class = "col-md-3">
                                           ID: {{user_ID}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tên người dùng: {{user_Name}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tài khoản: {{user_Account_Name}}
                                    </div>
                                    <div class="comment-text col-md-2">
                                           Email: {{user_Email}}
                                    </div>
                                </div>
                        </li>
                        {{/each}}
                        {{#each seller}} 
                        <li class="list-group-item">
                            <div class="row">
                                    <div class = "col-md-3">
                                           ID: {{user_ID}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tên người dùng: {{user_Name}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tài khoản: {{user_Account_Name}}
                                    </div>
                                    <div class="comment-text col-md-2"> 
                                           Email: {{user_Email}}
                                    </div>
                                    <form action="/admin/{{user_Decentralized}}/{{user_ID}}" method="post">
                                    <div class="comment-text col-md-1" style="text-align: center;">
                                           <button type="submit">Down</button>
                                    </div>
                                    </form>
                                </div>
                        </li>
                        {{/each}}
                        {{#each bidder}} 
                        <li class="list-group-item">
                            <div class="row">
                                    <div class = "col-md-3">
                                           ID: {{user_ID}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tên người dùng: {{user_Name}}
                                    </div>
                                    <div class="comment-text col-md-3">
                                           Tài khoản: {{user_Account_Name}}
                                    </div>
                                    <div class="comment-text col-md-2">
                                           Email: {{user_Email}}
                                    </div>
                                    {{#if up}}
                                    <form action="/admin/{{user_Decentralized}}/{{user_ID}}" method="post">
                                    <div class="comment-text col-md-1" style="text-align: center;">
                                           <button type="submit">Up</button>
                                    </div>
                                    </form>
                                    {{/if}}
                                </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>