<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .trash {
        color: rgb(209, 91, 71);
    }

    .flag {
        color: rgb(248, 148, 6);
    }

    .panel-body {
        padding: 0px;
    }

    .panel-footer .pagination {
        margin: 0;
    }

    .panel .glyphicon,
    .list-group-item .glyphicon {
        margin-right: 5px;
    }

    .panel-body .radio,
    .checkbox {
        display: inline-block;
        margin: 0px;
    }

    .panel-body input[type=checkbox]:checked+label {
        text-decoration: line-through;
        color: rgb(128, 144, 160);
    }

    .list-group-item:hover,
    a.list-group-item:focus {
        text-decoration: none;
        background-color: rgb(245, 245, 245);
    }

    .list-group {
        margin-bottom: 0px;
    }
</style>
{{!-- ---------------------------------------------------------- --}}
<div class="container" style="min-width: 900px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> Manager Category
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {{#each cate}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-10">
                                    <div>
                                        <a href="#" disabled>
                                        </a>
                                        <div class="mic-info">
                                            {{#if mode}}
                                            <form action="/updatecate/category={{CatID}}" method="post">
                                                <input name="cate"
                                                    placeholder="{{/if}}{{#unless mode}}<h4>{{/unless}}{{ CatName }}{{#unless mode}}</h4>{{/unless}}{{#if mode}}">{{/if}}
                                                {{!-- href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a> --}}
                                        </div>
                                    </div>
                                </div>
                                {{#if mode}}

                                <div class="comment-text col-md-1" style="text-align: center;">
                                    <button type="submit">Save</button>
                                </div>
                                </form>
                                {{/if}}
                            </div>
                            {{#each sub}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-1">
                                    +
                                </div>
                                <div class="col-xs-10 col-md-9">
                                    <div>
                                        <a href="#" disabled>
                                        </a>
                                        <div class="mic-info">
                                            {{#if mode}}
                                            <form action="/updatesub/category={{use_CatID}}/sub={{sub_CatID}}" method="post">
                                            <input name="subcate" placeholder="{{/if}}{{ sub_CatName }}{{#if mode}}">{{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{#if mode}}

                                <div class="comment-text col-md-1" style="text-align: center;">
                                    <button type="submit">Save</button>
                                </div>
                                </form>
                                {{/if}}
                            </div>

                            {{/each}}
                            {{#if mode}}

                            <div class="row" style="margin-top: 18px;">
                                <div class="col-xs-10 col-md-1">
                                </div>
                                <div class="col-xs-10 col-md-9">
                                    <div>
                                        <a href="#" disabled>
                                        </a>
                                        <div class="mic-info">
                                            <form action="/addsub={{CatID}}" method="post">
                                            <input name="subcate" placeholder="Add a sub of {{CatName}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-text col-md-1" style="text-align: center;">
                                    <button type="submit">Save</button>
                                </div>
                                </form>
                            </div>

                            {{/if}}
                        </li>
                        </li>
                        {{/each}}
                        {{#if edit}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <form action="/addcate" method="post">
                                        <input name="cate" placeholder="Add a new category"> Thêm một danh mục mới
                                </div>
                                <div class="col-md-1">
                                    <button type="submit">Save</button>
                                </div>
                                </form>
                            </div>
                        {{/if}}
                </div>
                </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>