<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .trash {
        color: rgb(209, 91, 71);
    }

    .flag {
        color: rgb(248, 148, 6);
    }

    .panel-body {
        padding: 0px;
    }

    .panel-footer .pagination {
        margin: 0;
    }

    .panel .glyphicon,
    .list-group-item .glyphicon {
        margin-right: 5px;
    }

    .panel-body .radio,
    .checkbox {
        display: inline-block;
        margin: 0px;
    }

    .panel-body input[type=checkbox]:checked+label {
        text-decoration: line-through;
        color: rgb(128, 144, 160);
    }

    .list-group-item:hover,
    a.list-group-item:focus {
        text-decoration: none;
        background-color: rgb(245, 245, 245);
    }

    .list-group {
        margin-bottom: 0px;
    }
</style>
{{!-- ---------------------------------------------------------- --}}
<div class="container" style="min-width: 900px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> Manager Product
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            {{!-- <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                            </button> --}}
                            {{!-- <ul class="dropdown-menu slidedown">
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
                            </ul> --}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {{#each ps}} <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 col-md-2">
                                    <img src="/IMG/{{CatID}}/{{sub_catID}}/{{pro_ID}}/main.jpg"
                                        class="img-circle img-responsive" alt="" /></div>
                                <div class="col-xs-10 col-md-9">
                                    <div>
                                        <a href="#" disabled>
                                        </a>
                                        <div class="mic-info">
                                            Product: <a
                                                href="/cat/{{CatID}}/{{sub_catID}}/products/{{pro_ID}}">{{pro_Name}}</a>
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        Price: {{price}}
                                    </div>
                                </div>
                                <div class="col-md-1" style="">
                                <form action="/admin/{{pro_ID}}" method="post">

                                    <button type="submit">Delete</button>

                                </form>
                            </div>
                </div>
                </li>
                {{/each}}
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info">25</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>