<link href="/utils/uploadProduct.css" rel="stylesheet" type="text/css" />
<script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>


<form class="container card" action="/upload/cat" method="post">
    <div class="row justify-content-md-center display-4" style="margin: 15px; text-align: center;">Chọn danh mục sản
        phẩm <br> và xác nhận trước khi upload sản phẩm!</div>
    <hr>
    <div class="row">
        <div class="col-md-5 form-group">
            <h3>Chọn danh mục sản phẩm</h3>
            {{#each cate}}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="catid" id="exampleRadios1" value="{{CatID}}"
                    checked>
                <label class="form-check-label" for="exampleRadios1">
                    {{CatName}}
                </label>
            </div>
            {{/each}}
        </div>
        <div class="col-md-5 form-group">
            <h3>Và danh mục con: </h3>
            {{#each subcate}}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="subcatid" id="exampleRadios1" value="{{sub_CatID}}"
                    checked>
                <label class="form-check-label" for="exampleRadios1">
                    {{sub_CatName}}
                </label>
            </div>
            {{/each}}
        </div>
    <div class="col-md-2">
        <button type="submit" style="text-align: center; margin-top: 35px;">Fill product</button>
    </div>
</form>

<form class="container card" action="/upload" method="post" enctype="multipart/form-data">
    <div class="row justify-content-md-center display-4" style="margin: 15px;">Đăng sản phẩm của bạn</div>

    <hr>

    <div class="row">
        <div class="col-md-5 form-group">
            <label style="color: black;" for="anh">Example file input</label>
            <input name="avatar" type="file" class="form-control-file" id="anh" multiple>
        </div>

        <div class="col-md-7">
            <div class="form-group">
                <label style="color: black;" for="input_product_name">Tên sản phẩm</label>
                <input class="form-control form-control-lg" name="name" id="input_product_name" type="text"
                    placeholder="Tên sản phẩm">
            </div>
            <div class="form-group">
                <label style="color: black;" for="gia_hien_tai">Giá hiện tại</label>
                <div class="input-group" id="gia_hien_tai">
                    <input type="text" class="form-control" name="price" placeholder="000.000 VNĐ">
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label style="color: black;" for="buoc_gia">Bước giá</label>
                <div class="input-group" id="buoc_gia">
                    <input type="text" class="form-control" name="pricestep" placeholder="000.000 VNĐ">
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label style="color: black;" for="mua_ngay">Giá mua ngay</label>
                <div class="input-group" id="mua_ngay">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <input type="text" class="form-control" name="pricenow" aria-label="Text input with checkbox"
                        placeholder="000.000 VNĐ">
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="example-datetime-local-input" style="color: black;">Hết hạn lúc</label>
                <input class="form-control" name="datetime" type="datetime-local" value="2020-01-01T00:00:01"
                    id="example-datetime-local-input">
            </div>
            <div class="form-group custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="tu_dong_gia_han">
                <label class="custom-control-label" for="tu_dong_gia_han" style="color: black;">Tự động gia hạn</label>
            </div>
        </div>
    </div>

    <hr>

    <div class="row justify-content-md-center h3">Mô tả chi tiết sản phẩm</div>
    <div class="row justify-content-md-center">
        <textarea style="margin-top: 50px;" name="content" id="editor">
            <p>Mô tả chi tiết về sản phẩm của bạn ở đây.</p>
        </textarea>
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-liht btn-lg btn-block shadow"
            style="margin: 15px; border-radius: 30px; height: 60px; width:500px;">UPLOAD</button>
    </div>
</form>


<script>
    ClassicEditor
        .create(document.getElementById('editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
    ClassicEditor.create();
</script>


<!--
Chọn Cat
Chọn Subcat
-->